
.DS_Store
Deep Learning/.ipynb_checkpoints/4 - Generative Adversarial Network on FMNIST Dataset-checkpoint.ipynb
Deep Learning/.ipynb_checkpoints/1 - MLP-checkpoint.ipynb
Deep Learning/.ipynb_checkpoints/2 - CNN Model on fer2013 (Face Images Dataset)-checkpoint.ipynb
Deep Learning/.ipynb_checkpoints/3 - Autoencoder on CIFAR10 Dataset -checkpoint.ipynb
Projects/1 - Cab Booking System/.ipynb_checkpoints/Cab_Booking_System-checkpoint.ipynb
Projects/3 - Auto Insurance Model/.ipynb_checkpoints/Auto_Insurance_Model_by_Pushkar_Ravi-checkpoint.ipynb
Projects/2 - Smart Cab with Reinforcement Learning/.ipynb_checkpoints/Smart Cab (Self driving cab)-checkpoint.ipynb
Projects/2 - Smart Cab with Reinforcement Learning/.ipynb_checkpoints/Smart Cab_Q-Learning-checkpoint.ipynb
10 - Deep Learning/.ipynb_checkpoints/1 - MLP-checkpoint.ipynb
10 - Deep Learning/.ipynb_checkpoints/2 - CNN Model on fer2013 (Face Images Dataset)-checkpoint.ipynb
10 - Deep Learning/.ipynb_checkpoints/3 - Autoencoder on CIFAR10 Dataset -checkpoint.ipynb
10 - Deep Learning/.ipynb_checkpoints/4 - Generative Adversarial Network on FMNIST Dataset-checkpoint.ipynb
.ipynb_checkpoints/1 - Basic Concepts-checkpoint.ipynb
.ipynb_checkpoints/2 - Student Attendance-checkpoint.ipynb
